.navegacion {
    ul {
        @include flex;
        li {
        a {
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            color: $color-letras;
            &:hover {
            box-shadow: inset 200px 0 0 0 #b6b2b2;
            }
        }
        }
    }
    }
    
    img {
        display: flex;
        justify-content: center;
    }

.navegacion-contactos ul {
    list-style-type: none;
}